@model VM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FACULTY OF SCIENCE</title>
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
     <link rel="stylesheet" href="~/css/output.css"/>
</head>
<body class ="bg-gray-100 font-sans leading-normal tracking-normal">
    <header>
        <nav id="header" class="fixed w-full z-10 top-0">

            <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

            <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

                <div class="pl-4">
                    <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="#">
                        FACULTY OF SCIENCE
                    </a>
                </div>

                <div class="block lg:hidden pr-4">
                    <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                        </svg>
                    </button>
                </div>

                <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
                    <ul class="list-reset lg:flex justify-end flex-1 items-center">
                        <li class="mr-3">
                            <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" asp-controller="Home" asp-action="Privacy">Home</a>
                        </li>
                        <li class="mr-3">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" asp-controller="Home" asp-action="Privacy">
                                Journal
                            </a>
                        </li>
                        <li class="mr-3 relative">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#">
                                Departments
                            </a>
                            <ul class="absolute hidden bg-white border border-gray-300 mt-2 w-40">
                                @foreach (Department department in Model.Departments)
                                {
                                    <li>
                                        <a class="block px-4 py-2 text-gray-800 hover:bg-gray-200" href="#">
                                            @department.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="mr-3">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" asp-controller="Home" asp-action="Privacy">
                                Newsletter
                            </a>
                        </li>
                        <li class="mr-3">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white border-t border-gray-400 shadow">
        <div class="container max-w-7xl mx-auto flex py-8">

            <div class="w-full mx-auto flex flex-wrap">
                <div class="flex w-full md:w-1/2 ">
                    <div class="px-8">
                        <h4 class="font-bold text-gray-900">About Faculty of Science</h4>
                        <p class="py-4 text-gray-600 text-sm">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                        </p>
                    </div>
                </div>

                <div class="flex w-full md:w-1/2">
                    <div class="px-8">
                        <h4 class="font-bold text-gray-900">Links</h4>
                        <ul class="list-reset items-center text-sm pt-3 grid grid-cols-3">
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Programs</a>
                            </li>
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1 mx-10" href="#">Journals</a>
                            </li>
                            <li>
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Alumni</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            &copy; @DateTime.Now.Year - EDSU ICT UNIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Faculty of Science</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
