@model Faculty_Portal.Models.HOD

@{
    ViewData["Title"] = "Details";
}
<!--Container-->
<div class="mx-8 md:mx-28 md:mt-28 pt-20">
	<div class="md:grid grid-cols-5">
	
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

	<!--Divider-->
	<hr class="border-b-2 border-gray-400 mb-8 mx-4">

</div>
<!--/container-->
