@model IEnumerable<Faculty_Portal.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @foreach (var item in Model)
    {
        <div class="bg-white p-4 rounded-md shadow-md">
            <h2 class="text-xl font-semibold mb-2">@Html.DisplayNameFor(model => item.Name)</h2>
            <p>@item.Name</p>

            <!-- Add similar code for other properties -->
        </div>
    }
</div>
